# PowerShell
*.ps1xml
*.pssc
*.nupkg
*.log

# Module artifacts
/out/
/publish/

# VS Code
.vscode/
*.code-workspace

# Dev Containers
.devcontainer/.buildkit-cache/
*.tar
*.img

# OS
.DS_Store
Thumbs.db

# Python
__pycache__/
*.py[cod]
*.egg-info/

# Secrets
.env
secrets.json
*.key
*.pem

# Git merge conflict files
*.orig
*.rej

# Archives and backups
*.zip
*.7z
*.bak
*.swp
*.swo
